.sub-container{
  background-color: #ffffff;
  width: 90%;
  height: 70%;
 overflow: scroll;
  border-radius: 15px;
}
.sub-container h3{
  margin-bottom: 0;
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
  color: #5c8eb0;
}

.sub-container h2 {
  color: #5c8eb0 !important;
  margin-bottom: 15px !important;
  text-align: left !important;
  font-size: 15px !important;
  margin-top: 40px !important;
  margin-left: 15px !important;
}

.data-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}